@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: url('/bg.png') no-repeat center center fixed;
  background-size: cover;
}
